#All Varibale for Machine learning to scored destination
API_ALL_REQUEST_DATE_WW       = "http://www.awesome.test/Api_ml/all_request_dateymd"

API_ALL_REQUEST_DATE_CRM      = "http://www.awesome.test/Api_ml/all_request_dateymd_crm"
API_BOATS_REQUEST_DATE_CRM    = "http://www.awesome.test/Api_ml/all_request_dateymd_crm"

API_ALL_REQUEST_BOAT_CRM      = "http://www.awesome.test/Api_ml/all_request_boat_dateymd_crm"

#All Variable for recommendation systeme
API_REQUEST_MONTH_WW          = "http://www.awesome.test/Api_ml/all_request"
API_REQUEST_MONTH_CRM         = "http://www.awesome.test/Api_ml/all_demande"
API_REQUEST_MONTH_CRM_BOAT    = "http://www.awesome.test/Api_ml/all_boats_res"


NAME_MODEL_REC_DESTINATION    = "destination_rec_id"

#path of all file save
ROOT_MODEL                    = "/app/file_model" #root@windward/home/windward/PFE-ML-windward

#Api to get id
API_ALL_BOATS_ID_WW           = "http://www.awesome.test/Api_ml/all_boats_discription"
API_ALL_DESTINATION           = "http://www.awesome.test/Api_ml/all_location"
API_ALL_BOATS_GENERIC         = "http://www.awesome.test/Api_ml/get_generic_boats"

#name of the model training
NAME_MODEL_DESTINATION        = "model_destination.model"
NAME_MODEL_BOATS              = "model_boats.model"
NAME_MODEL_BOATS_DESTINATION  = "model_boats_destination.model"


#Connexion login
LOGIN_ML       = "Bayza.20"
PASSWORD_ML    = "123456"
